<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<div class="container">
    <a href="{% url 'home' %}" class="btn btn-info">Home</a>
</div>
<hr class="my-4">
<div class="container">
    <h1>About Password Generator</h1>
    <p>The purpose of this web application is to generate a random password of user-selectable length and strength.</p>
    <p>This web applicaton was made during participation in a Udemy course in July 2020.</p>
</div>
